{% extends "core/base.html" %}

{% block content %}

  <div>
  <h1>
    Suivre d'autre utilisateurs
  </h1>
  <form  action="/following/" method="post">
    {% csrf_token %}
    <input id="subscribe" type="text" label="followed_user" name="followed_user">
    <button type="submit" ">Envoyer</button>
  </form>
  </div>
  <ul class="follower_user"> 
    {% for following in followings %}
          <li> Vous vous êtes abonner au profil de {{following.followed_user}} <a href="{% url 'following:remove_following' following.followed_user.id %}"> Se désabonner</a></li>
    {% endfor %}
</ul>
<h1>Vos abonnés</h>
  <ul> 
    {% for follower in followers %}
          <li> Vous êtes suivis par {{follower.followed_user}} </li>
    {% endfor %}
</ul>
  <ul class="follower_user">
    <li><a href="{% url 'home' %}">Retourner à la page d'accueil</a></li>
    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
  </ul>
{% endblock %}