{% extends "core/base.html" %}

{% block content %}

  <div>
  <h1>
    Suivre d'autre utilisateurs
  </h1>
  <form  action="/following/" method="post">
    {% csrf_token %}
    <input id="subscribe" type="text" label="followed_user" name="followed_user">
    <button type="submit" ">Envoyer</button>
  </form>
  </div>
  <h1>Vos abonnés</h1>

  <ul class="follower_user"> 
    {% for following in followings %}
      <li> {{following.followed_user}}   <a class="unsucrbibed" href="{% url 'following:remove_following' following.followed_user.id %}"> Se désabonner</a>
      </li>
    {% endfor %}
</ul>
<h1>Vos abonnements</h1>
  <ul class="follower_user">
    {% for follower in followers %}
          <li>{{follower.followed_user}} </li>
    {% endfor %}
</ul>

{% endblock %}