{% extends "core/base.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm">
      <p>Inscrivez-vous maintenant</p>
      <a class="btn btn-primary" href="{% url 'register' %}" role="button">S'inscrire</button></a>
    </div>
    <div class="col-sm">
      <p>Connectez-vous</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit"  class="btn btn-primary"  href="{% url 'login' %}"> Se connecter </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
