{% extends "core/base.html" %}

<html>
{% block content %}
<body>
<div class="container">
  <div class="row">
    <article class="col-md-6">
      <div class="register">
        <p>Inscrivez-vous maintenant</p>
        <a href="{% url 'register' %}">S'inscrire</a>
    </article>
    <article class="col-md-6">
      <div class="login">
        <h2>Se connecter</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" href="{% url 'login' %}"> Se connecter </button>
      </form>
    </article>
  </div>
</body>

{% endblock %}</html>
