{% extends "core/base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" id="form_ticket">
    {% csrf_token %}
    <div class="form-group">
      <label for="title" >Titre</label>
      <input type="text" class="form-control"  name="title" max_length=128" id="id_title"></div>
      <div class="form-group">
      <label for="description" >Description</label>
      <input type="text" class="form-control"  name="description" maxlength="2048" required="" id="id_description"></div>
      <div class="form-group">
      <label for="image" >Image</label>
      <input type="file" class="form-control" id="id_image" name="image" accept="image/png, image/jpeg"></div>
      <div class="form-group">
      <button type="submit" class="btn btn-secondary" type="submit" href="{% url 'ticketing:create_ticket' %}">Votre billet</button>
      </div>
  </div>
    <textarea name="body" cols="40" rows="10" maxlength="8192" id="id_body"></textarea>
    <input type="text" name="headline" maxlength="128" required="" id="id_headline">
    <div class="star-cb-group">
      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
    </div>
  <button type="submit" href="{% url 'ticketing:create_ticket_with_review' %}">Sauvegarder</button>
</form>
{% endblock %}