{% extends "core/base.html" %}

{% block content %}
<table>
  <tbody>
          <p style="text-align:right">{{ticket.time_created}}</p>
          <p>{{ticket.user}} a demandé une critique </p>            
          <p>{{ticket.title}} </p>
          <p>{{ticket.description}} </p>
          <p><img height="100" src="/media/{{ticket.image}}"></p>
  </tbody>
</table>
<form id="form_review"  method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" href="{% url 'ticketing:create_review' ticket_id %}">Votre review</button>
</form>
{% endblock %}