{% extends "core/base.html" %}
{% block content %}

<h1> Vous êtes en train de poster en réponse à</h1>
<div id="ticket_request">
  <p>{{ ticket.user  }} a demandé une critique </p>
  <p>{{ticket.title}}</p>
  <p> {{ ticket.description }} </p>
  <p> {{ticket.image}} </p>
  <p>{{ticket.time_created}}</p>
</div>
<h2 id="post_review">Critique</h2>
<form id="form_review"  method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" href="{% url 'ticketing:create_review_with_response' ticket_id %}">Votre review</button>
</form>
{% endblock %}