{% extends "core/base.html" %}

{% block content %}
<h1>Flux</h1>
<button class="ticket"><a href="{% url 'ticketing:create_ticket'%}">Demande de critique</a></button>
<button class="ticket"><a href="{% url 'ticketing:create_ticket_with_review'%}">Créer une critique directe</a></button>
    
    {% for ticket in tickets %}
            {% include "Ticketing/ticket.html" %}
            {% if ticket.review %}
                {% include "Ticketing/show_review.html" %}
            {% endif %}

    {% endfor %}

    {% for i in review %}
            {{ review.ticket_review }}
    {% endfor %}


    {% endblock %}