{% extends "core/base.html" %}

{% block content %}
<title>Voir vos propres post</title>
<div class="containe text-center">
    {% for ticket in tickets %} 
    <table class="table border border-dark">
        <tbody>
            <td>
                <p style="text-align:right">{{ticket.time_created}}</p>
                {% if ticket.user == user %}
                    <p> Vous avez demandé une critique</p>
                {% else %}
                    <p> {{ticket.user}} a demandé une critique </p>
                {% endif %}          
                    <p>{{ticket.title}} </p>
                    <p>{{ticket.description}} </p>
                    <p><img height="100" src="/media/{{ticket.image}}"></p>
            </td>
        </tbody>
        <td><Button><a href="{% url 'ticketing:ticket_edit' ticket.id %}">Modifier votre ticket</a></Button>
            <Button><a href="{% url 'ticketing:remove_ticket' ticket.id %}">Supprimer votre ticket</a></Button></td>
    </table>
    {% endfor %}


    {% for review in reviews %}
    <table class="table border border-dark">
    <tbody>
        <td class="table border border-dark" >
            <p style="text-align:right">{{ticket.time_created}}</p>
            {% if ticket.user == user %}
                <!-- <p> Vous avez demandé une critique</p> -->
            {% else %}
            {% include "Ticketing/show_review.html" %}
                <p> {{review.ticket.user}} a demandé une critique </p>
            {% endif %}          
            <p>{{review.ticket.title }}</p>
            <p>{{review.ticket.description}}</p>
            <p><img height="100" src="/media/{{review.ticket.image}}"></p>
        </td>
        </tr>
    </tbody>
</table>
    {% endfor %}
{% endblock %}