{% block content %}
<table>
    <tbody>
        <td>
            <p style="text-align:right">{{ticket.time_created}}</p>
            {{ review.ticket_review }}
            {% if ticket.review.user == user %}
                <p>Vous avez publié une critique</p>
            {% else %}
                <p>{{ ticket.review.user }} a posté une critique</p>
            {% endif %}          
            <p>{{ticket.review.headline}}</p>
            <p>{{ticket.review.body}} - {{ticket.review.rating}}</p>
            <p><img height="100" src="/media/{{ticket.image}}"></p>
        </td>
    </tbody>
</table>
{% endblock %}
