<html>
    {% block content %}
    <body>
        <div class="container text-center" >
            <table class="table border border-dark">
                <tbody>
                    <td style="text-align:left">
                        <p style="text-align:right">{{ticket.time_created}}</p>
                        {% if ticket.user == user %}
                            <p> Vous avez demandé une critique</p>
                        {% else %}
                            <p> {{ticket.user}} a demandé une critique </p>
                        {% endif %}          
                            <p>{{ticket.title}} </p>
                            <p>{{ticket.description}} </p>
                            <p><img height="100" src="/media/{{ticket.image}}"></p>

                        {% if ticket.review == None %}
                            {{review.ticket.title}}
                            {{review.ticket.description}}
                            {{review.ticket.user}}
                        {% elif ticket.user == user or ticket.review %}

                        {% else %}
                            <button text="submit" class="btn btn-secondary" style="position: relative; left: 750px"><a href="{% url 'ticketing:create_review' ticket.id %}"> Créer une critique </a></button>
                        {% endif %}
                    </td>
                </tbody>
            </table>
        </div>
    </body>
    {% endblock %}
</html>