{% extends "core/base.html" %}

{% block content %}
<button class="ticket"><a href="{% url 'ticketing:create_ticket'%}">Demande de critique</a></button>
<button class="review"><a href="{% url 'ticketing:create_ticket'%}">Créer une critique</a></button>

<ul>
    {% for ticket in tickets %}
    <li>{{ticket.title}}
    {% if not ticket.review  %}
    <button type="submit"><a href="{% url 'ticketing:create_review_with_response' ticket.id %}">Créer une critique</a>
    </button>
    {% endif %}
    </li>

    {% endfor %}
</ul>
<a href=" {% url 'logout' %} "> Si vous voulez vous déconnecter cliquer ici</a>

{% endblock %}

